@import 'bootstrap/dist/css/bootstrap';

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
